@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* font-weight: 300;
    font-style: normal; */
}

:root {
    --naranja-pescar: #FD7202;
    --azul-pescar: #1F288C;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------- Header --------------------- */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 15px 0px 15px;
}

.header__img {
    height: 80px;
}

.header__button {
    align-self: center;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--naranja-pescar);
    height: 45px;
    transition: all 0.3s ease;
}

.header__button:hover {
    box-shadow: -2px 2px;
}

.header__button span {
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

/* ---------------------- Hero --------------------- */
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}

.hero-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -100px;
    width: 50%;
}

.hero-section__h1 {
    font-weight: 800;
    font-size: 60px;

    margin-bottom: 20px;
}

.hero-section__h2 {
    font-weight: 500;
    font-size: 35px;

    margin-bottom: 20px;
}

.hero-section__container-imgs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-section__img-pescar {
    height: 80px;
    clip-path: circle(30px at 41px);
    border-left: black 2px solid;
}

.tk-blob{
    width: 25%;
    position: absolute;
    left: 90px;
    z-index: -1;
}

.tk-blob-2 {
    width: 25%;
    position: absolute;
    left: 320px;
    z-index: -2;
}

.hero-section__img-jp {
    height: 50px;
    padding-top: 10px;
    margin-right: 20px;
}

.image-hero{
    width: 45%;
    margin-top: -100px;
}
/* ---------------------- Quienes somos? - Diapositiva 2 --------------------- */ 

.section {
    height: 100vh;
    width: 100%;
    background-image: url('./images/elementos/decoracion.png'), url('./images/elementos/decoracion2.png');
    background-repeat: no-repeat;
    background-size: 20%, 25%;
    background-position: 0% 0%, 100% 100%;
}

/* Contenedor */


.sobre-nosotros-section__h2 {
    font-weight: 600;
    font-size: 25px;

    padding: 25px;
}

.container-quienes-somos {
    margin: 20px 340px 0px 340px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
}

.quienes-somos__h2 {
    text-align: center;
    margin-bottom: 20px;

    color: var(--azul-pescar);
    font-size: 1.9rem;
    font-weight: bold;
}

.quienes-somos__barra {
    background-color: var(--naranja-pescar);
    border: 2px solid rgb(6, 6, 6);
    border-bottom: none;

    height: 19px;
    width: 100%;
}

.__barra-icons {
    width: 50px;
    height: 15px;

    margin: auto;
}

video {
    height: 100%;
    width: 100%;

    border: 2px solid rgb(6, 6, 6);
    box-shadow: rgb(66, 66, 66) 10px 10px 0px 0px;
}


/* ? Orientadoras */

.container-orientadoras {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cards-o {
    text-align: center;
    font-size: 20px;
}

.cards-o p {
    font-size: 17px;
}

.img-size {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: var(--azul-pescar) 15px solid;
    margin-bottom: 5px;
    box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    opacity: 0;
    animation: fade 1s ease-out forwards;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
}

/*----------------- Centros --------------- */

.img_centros {
  height: 300px;
  width: 600px;
  border-radius: 30px;
  margin: 0px -40px;
}

.centros_h4 {
    padding-top: 15px;
    font-size: 25px;
}

/*----------------- Pilares de la Formación --------------------------*/

.container-pilares{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* position: relative; */
    left: 60px;
}

.pilares-left{
    display: flex;
    align-items: center;
    position: relative;
    /* border:  2px solid #FD7202; */
    height: 310px;
    width: 25%;
    top: 50px;
}

.pilares-left h2 {
    color: var(--azul-pescar);
    font-size: 40px;
    font-weight: 900;
}

.image-pilares{
    width: 35%;
    margin-top: 50px;
}

/* ---------------------- Diapositivas 6 7 8 --------------------- */

.section-educacionit {
    background-color: #ffffff90;
    height: 100vh;
    width: 100%;
    background-image: url('./images/elementos/decoracion.png'), url('./images/elementos/decoracion2.png');
    background-repeat: no-repeat;
    background-size: 20%, 25%;
    background-position: 0% 0%, 100% 100%;

}

.container-educacionit {
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.container-text {
/*     border: 1px solid black; */
    color: rgb(23, 23, 122);
    font-size: 2vw;
    width: 35%;

}

.container-text h2 {
    margin-bottom: 0.4rem;
    font-weight: 900;
}

.container-text p {
    font-size: 1.5vw;

}

.container-img{
/*     border: 1px solid black; */
    width: 25%;
}
.img-elm {
/*     border: 1px solid black; */
    width: 100%;
}

.margintop{
    margin-top: 10px;
}

/* ? Capacitaciones Martin Gomez / Diapo 9 */

.section-capacitaciones {
    background: #ffffff90;
    height: 100vh;
    background-image: url('./images/elementos/decoracion.png'), url('./images/elementos/decoracion2.png');
    background-repeat: no-repeat;
    background-size: 20%, 25%;
    background-position: 0% 0%, 100% 100%;
    color: var(--azul-pescar);
  }

  
  .capacitaciones_header {
    display: flex;
    justify-content: center;
    padding-right: 15px;
    align-items: center;
  
  }
  .capacitaciones_header button {
    right: 2px;
    position: absolute;
  }
  .capacitaciones__h2 {
    /* margin-left: 35vw; */
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }
  
  .container-cards {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: visible;
  }
  
  .container-capacitaciones {
    width: 15vw;
    height: 35vh;
    perspective: 900px;
  }
  
  .card-m {
    height: 120%;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
    background-image: url('./images/elementos/decoracion2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container-capacitaciones:hover > .card-m {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 0 0 10px 2px rgba(50, 50, 50, 2.5);
    backface-visibility: hidden;
    background: #ffffff90;
  }
  
  .front,
  .back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    
  }
  
  .back {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  
  .back-heading,
  .front-heading {
    font-size: 28px;
    font-weight: 650;
  }

  .icono-card {
    max-width: 100px;
  }

  .capacitaciones-h2{
    margin-bottom: -20px;
  }

  .thanks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
  }

  .image-thanks {
    width: 40%;
    margin-top: 50px;
  }

  .tk-blob-3{
    width: 40%;
    position: absolute;
    left: 90px;
    z-index: -1;
  }

  /* ? Capacitaciones / Diapo 9 */

/* ? animaciones */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}