@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* font-weight: 300;
    font-style: normal; */
}

:root {
    --naranja-pescar: #FD7202;
    --azul-pescar: #1F288C;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------- Header --------------------- */

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
}

.header__button {
    position: relative;
    padding: 10px 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--naranja-pescar);
    height: 45px;
    transition: all 0.3s ease;
}

.header__button:hover {
    box-shadow: -2px 2px;
}

.header__button span {
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.header__button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.header__button:hover svg {
    transform: translateX(0px);
}

/* ---------------------- Hero --------------------- */
.hero-section {
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 30px;
    
    ;
}

.hero-section__h1 {
    font-weight: 800;
    font-size: 40px;

    margin-bottom: 20px;
}

.hero-section__h2 {
    font-weight: 500;
    font-size: 25px;

    margin-bottom: 20px;
}

.hero-section__container-imgs {
    display: flex;
    align-items: center;

    width: 45%
}

.hero-section__img-pescar {
    height: 50px;
    padding-right: 15px;


    clip-path: circle(20px at 25px);
}

.hero-section__img-jp {
    height: 25px;
    border-left: black 2px solid;
    padding-left: 20px;
}

/* ---------------------- About Us --------------------- */

.sobre-nosotros-section {
    height: 100vh;
}

.sobre-nosotros-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.sobre-nosotros-section__h2 {
    font-weight: 600;
    font-size: 25px;

    padding: 25px;
}

/* ? Orientadoras */

.section-orientadoras {
    height: 100vh;
}

.container-orientadoras {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cards-o {
    text-align: center;
    font-size: 20px;
}

.cards-o p {
    font-size: 17px;
}

.img-size {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: var(--azul-pescar) 15px solid;
    margin-bottom: 5px;
    box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -1px 17px 55px -4px rgba(0, 0, 0, 0.52);
    opacity: 0;
    animation: fade 1s ease-out forwards;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------- Pilares de la Formación --------------------------*/
.section-pilares{
    height: 100vh;   
}

.container-pilares{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    left: 60px;
}

.pilares-left{
    display: flex;
    align-items: center;
    position: relative;
    /* border:  2px solid #FD7202; */
    height: 310px;
    width: 25%;
    top: 50px;
}

.pilares-left h2 {
    color: var(--azul-pescar);
    font-size: 3rem;
    font-weight: bold;
    width: 85%;
}

.pil


/* ? primera diapositiva */

.first-slide-section {
    height: 100vh;
}

.container-first-slide {
    height: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-first-slide h2{
    color: var(--azul-pescar);
    font-size: 2rem;
}

.first-slide-subtitle {
    grid-column: 1 / 2; /* Coloca el contenido en la segunda columna (parte derecha) */
    justify-self: end;
    align-self: center;
    padding-left: 50%;
    text-align: left; /* Alinea el texto a la izquierda */
    color: var(--azul-pescar);
}

.first-01 p {
    font-size: 2rem;
    font-weight: bold;
}

.first-03 p {
    width: 80%;
}

.first-01, .first-02, .first-03 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.first-slide-image{
    grid-column: 2 / 3;
    justify-self: start;
    align-self: center;
    display: flex;
    align-items: center;
}

.first-slide-image img{
    width: 60%;
}



/* ? animaciones */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}